
<section id="welcome" class="col-12">
  <div class="widget center">
    <div class="blur"></div>
    
    <div class="text center">
      <h1 class="">Bem-vindo à MinionStore!</h1>
      <p>Seja feliz com seu minion</p>
    </div>
  </div>
</section>

<section id="minion-form">
  <div class="container">

    <div class="row">
      <div class="col-12" style="height:100px">
      </div>
      <div class="col-md-6 col-sm-12">
        <%= image_tag("minion-dave.png", alt:"minion-toy", class:"minion") %>
      </div>
      <div class="col-md-6 col-sm-12">
        <%= render "layouts/mailer_form"%>
      </div>
    </div>
  </div>
</section>

<section id="contatos" class="col-12 bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <p>Entre em contato conosco</p>
      </div>
      <div class="col-md-6 col-sm-12">
        <p>minionsstore@minion.com</p>
      </div>
    </div>
  </div>
</section>
